#header {
    background: url("../img/header.png") no-repeat;
    height: 900px;
    width: 1600px;
    margin-top: auto;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    color: aqua;
}
.sertiz {
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 215px;
    padding-top: 531px;
    width: 175px;
    height: 35px;
    margin-top: 0px;
    font-size: 48px;
    margin-bottom: 0px;
}
#title {
    text-transform: uppercase;
    color: #B07A26;
    padding-top: 76px;
    font-size: 54px;
    padding-left: 30px;
    text-align: left;
    margin-bottom: auto;
    margin-top: -42px;
}
#white {
    color: #CDDAD4;
    font-size: 54px;
    width: 611px;
    height: 40px;
    margin-bottom: auto;
    margin-top: 0px;
    padding-left: 51px;
}
.text {
    color: #FFFFFF;
    padding-top: 16px;
    padding-left: 215px;
    width: 287px;
    height: 16px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 45px;
}
.owner {
    margin-left: 216px;
    width: 831px;
    height: 129px;
    text-align: center;
    border: solid white;
}
.main-container {
    background: url("../img/main.png") no-repeat;
    height: 873px;
    margin-top: auto;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.main-what {
    text-transform: uppercase;
    color: #70655F;
    padding-top: 43px;
    padding-left: 613px;
    width: 350px;
    height: 17px;
    font-size: 20px;
    text-align: center;
}
.main-text {
    color: #70655F;
    padding-top: 35px;
    padding-left: 393px;
    width: 768px;
    height: 16px;
    font-size: 17px;
    text-align: center;
}
.line-2 {
    padding-top: 51px;
    padding-left: 746px;
    width: 61px;
    border-color: #F1AD1D;
}
.line {
    border-color: #F1AD1D;

}